.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-size: 1rem;

  .image-container {
  }
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
  gap: 3rem;
  font-size: 1rem;

}
.arrow {
  width: 4rem; 
  height: 1.6rem;
  background-color: black;
  border-radius: $border-radius;
  color: white;
  align-self: center;
  justify-self: center;
  

}
.home-button {

  &:hover .arrow{
   
      transform: scale(1.05);
      transition: all .2s ease-in-out;
   
  }
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.5px solid black;

  border-radius: $border-radius;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: $bg-text-color;
    border-color:$bg-text-color ;
    transition: all .2s ease-in-out;
    font-weight: 600;
   
  }
}
