@import './_variables.scss';
@import './colors.scss';

@import './pages/home.scss';
@import './components/navbar.scss';
@import './components/BookCard.scss';
@import './pages/books.scss';
@import './components/Pagination.scss';

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

// dynamic route style for books/id
.book-detail {
    &__container {
      display: flex;
      gap: 2rem;
      padding: 10rem;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      .book-detail__image {
        flex: 0 0 auto;
        margin-right: 20px;
  
        img {
          max-width: 200px;
          height: auto;
        }
      }
  
      .book-detail__info {
        flex: 1 1 auto;
  
        .book-detail__title {
          font-size: 24px;
          margin-bottom: 10px;
        }
  
        .book-detail__author,
        .book-detail__publish-date {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
  }
  
  .search {
    margin-top: 60px;
    text-align: center;
  
    &__input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 200px;
      margin-right: 10px;
      font-size: 16px;
  
      &:focus {
        outline: none;
        border-color: $bg-text-color;
      }
    }
  
    &__button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: $bg-text-color;
      color: $text-color;
      cursor: pointer;
      font-size: 16px;
  transition: all ease-in-out .2s;
      &:hover {
        background-color: $bg-text-color;
        transform: scale(1.09);
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  